
@model AddEditBlogViewModel

@{
    ViewBag.Title = "Add";
}
<header class="masthead" style="background-image:url('/Content/img/write.jpg')">
    <div class="overlay">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

                <div class="site-heading">
                    <h1>Upload a New Blog</h1>
                </div>
            </div>
        </div>
    </div>
</header>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
    <script src="~/Scripts/AddEditBlog.js"></script>
}
    <form method="post" enctype="multipart/form-data">
        @Html.ValidationSummary(false)
        <div class="form-group">
            @Html.LabelFor(p => Model.Title, "Blog Title:")
            @Html.TextBoxFor(p => Model.Title, new { @class = "form-control", placeholder = "Blog Title" })
        </div>
        <div class="form-group">
            @Html.LabelFor(p => Model.Body, "Body:")
            @Html.TextAreaFor(p => Model.Body, new { @class = "form-control", id = "body-field", placeholder = "Body", rows = 5, columns = 5 })
        </div>
        <div class="form-group">
            <input type="file" name="FileUpload" />
        </div>
        <div class="form-group">
            <span>Published:</span>
            @Html.CheckBoxFor(p => Model.Published)
        </div>
        <div class="">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>

